.form-grid {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
  width: 100%;
}

.row {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;

  mat-form-field {
    flex: 1;
  }
}

.full-width {
  width: 100%;
}
