// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

@use 'sass:map';

@mixin preserve-light-primary($primary, $tertiary) {
  --mat-sys-primary: #{map.get($primary, 40)};
  --mat-sys-on-primary: #{map.get($primary, 100)};
  --mat-sys-tertiary: #{map.get($tertiary, 40)};
  --mat-sys-on-tertiary: #{map.get($tertiary, 100)};
}

html {
  height: 100%;
  // Default (Azure & Blue) Light
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
        theme-type: light,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  &.dark-theme {
    color-scheme: dark;
    @include mat.theme((color: (primary: mat.$azure-palette, tertiary: mat.$blue-palette, theme-type: dark)));
    @include preserve-light-primary(mat.$azure-palette, mat.$blue-palette);
  }

  &.theme-rose-red {
    @include mat.theme((color: (primary: mat.$rose-palette, tertiary: mat.$red-palette, theme-type: light)));
    &.dark-theme {
      color-scheme: dark;
      @include mat.theme((color: (primary: mat.$rose-palette, tertiary: mat.$red-palette, theme-type: dark)));
      @include preserve-light-primary(mat.$rose-palette, mat.$red-palette);
    }
  }

  &.theme-magenta-violet {
    @include mat.theme((color: (primary: mat.$magenta-palette, tertiary: mat.$violet-palette, theme-type: light)));
    &.dark-theme {
      color-scheme: dark;
      @include mat.theme((color: (primary: mat.$magenta-palette, tertiary: mat.$violet-palette, theme-type: dark)));
      @include preserve-light-primary(mat.$magenta-palette, mat.$violet-palette);
    }
  }

  &.theme-cyan-orange {
    @include mat.theme((color: (primary: mat.$cyan-palette, tertiary: mat.$orange-palette, theme-type: light)));
    &.dark-theme {
      color-scheme: dark;
      @include mat.theme((color: (primary: mat.$cyan-palette, tertiary: mat.$orange-palette, theme-type: dark)));
      @include preserve-light-primary(mat.$cyan-palette, mat.$orange-palette);
    }
  }
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  // color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
